:root {
  --custom-color:#b64329;
}

body {
 font-family:Segoe UI,system-ui,-apple-system,sans-serif;
 -webkit-font-smoothing:antialiased;
 -moz-osx-font-smoothing:grayscale;
 -webkit-text-size-adjust:100%;
 -moz-text-size-adjust:100%;
 text-size-adjust:100%;
 image-rendering:-webkit-optimize-contrast;
 /* background-image: url("/images/bitmapbottom.svg") !important;
 background-repeat: no-repeat !important;
 background-position: center !important;
 background-size: 90% !important;
 overflow: visible !important; */
}
#menu li a span {
  font-weight: 500;
  font-size: 1rem;
}
.dark #menu li a span, .dark .logo a, .dark .page-header h1 {
  color: var(--custom-color);
}
.dark .button {
  /* background: var(--custom-color); */
}
.profile img {
  width: 15rem;
  z-index: -1;
  border-radius: 0;
  /* opacity: 0.5; */
  }
.dark .profile img, .dark .logo a img, .dark .logo a svg {
/* #b64329
See https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element
 */
  filter: invert(30%) sepia(81%) saturate(995%) hue-rotate(338deg) brightness(92%) contrast(92%);
  }



@media screen and (max-width:768px) {
 :root {
  --gap:14px
 }
 body {
   font-size: 1rem;
 }
 .profile img {
  transform:scale(1)
 }
 .main {
   padding-top: 2rem;
   min-height: 0;
 }
 .main .profile {
  min-height: 0;
}
 #menu {
   display: none;
 }
/* .profile .profile_inner h1 {
  padding: 0 0 0 0;
} */
.profile img {
    width: 15rem;
  }
  .page-header h1 {
    font-size: 2rem;
  }
  .post-title {
    font-size: 1.5rem;
  }
  .post-content h2 {
    font-size: 1.5rem;
  }
  .post-content h3 {
    font-size: 1rem;
}
}

@media screen and (max-height:700px) {
.profile img {
    width: 10rem;
  }

}
/* .main {
  text-align: center;
} */
.not-found {
  position: sticky;
align-items: center;
justify-content: center;
height: 80%;
font-size: 70%;
font-weight: 700;
margin-top: 15%;
margin-bottom: 5%;
text-align: center;
}
.robot404 {
  /* filter: invert(17%) sepia(14%) saturate(3702%) hue-rotate(137deg) brightness(92%) contrast(104%); */
  filter: invert(0%) sepia(0%) saturate(7500%) hue-rotate(327deg) brightness(96%) contrast(104%);
}

.dark .robot404 {
  filter: invert(30%) sepia(81%) saturate(995%) hue-rotate(338deg) brightness(92%) contrast(92%);
}

.background-logo {
  position: fixed;
  top:0;
  left: 5%;
  opacity: 0.05;
  z-index: -999;
}
.taglogo {
  position: relative;
  bottom: 10%;
  width: 40%;
  left: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  /* margin:auto; */
  /* left: 50%; */
  /* left: 5%; */
  z-index: -999;
}
.dark .background-logo, .dark .taglogo {
  filter: invert(30%) sepia(81%) saturate(995%) hue-rotate(338deg) brightness(92%) contrast(92%);
}