/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #1d1f21 !default;
$primary-color: #f25936 !default;
$toc_title_background: #212326 !default;
// $toc_title_background: #6d0c13 !default;
$text-color: #c9cacc !default; 
$muted-text-color: #6d7786 !default; 
// $primary-color: #b11f2b !default;
$border-color: mix(#fff, #393e46, 75%) !default;
// $footer-background-color: $primary-color !default;
$footer-background-color: #1d1f21 !default;
$link-color: #f25936 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

// Code

$code-background-color: #212326!default; 
$base00: #212326 !default;

p > code,
a > code,
li > code,
figcaption > code,
td > code {
  color: #f25936 !important; 
}

.social-icons i {
  color: #fff !important; // override
}
.page__footer {
  color: #fff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

.page__footer-follow .social-icons i,
.page__footer-follow .social-icons .svg-inline--fa  {
  color: inherit;
}
